body{
    margin: 0;
    overflow: hidden;

}
.sky{
    background: url("img/sky.jpg");
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
}

.rati{
    background: url("img/透明らち.png");
    width: 500%;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.car img{
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 120px;
}

@keyframes moving{
    100%{
        transform:translateX(-3000px)
    }
}

.moving{
    animation: moving 10s linear infinite;
}

@keyframes suspention{
    100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(5px);
    }
    0%{
        transform: translateY(0px);
    }
}

.suspention{
    animation: suspention 1s linear infinite;
}